= form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-note-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :notes_create_limit, _('Max requests per minute per user'), class: 'label-bold'
      = f.number_field :notes_create_limit, class: 'form-control gl-form-input'

  = f.submit _('Save changes'), class: "gl-button btn btn-success", data: { qa_selector: 'save_changes_button' }
